body, html {
    overflow: hidden;
}

h3 {
    text-align: center;
    color: #ffd54f;
}

form {
    margin-left: 24px;
}

.firstCol > * {
    margin-left: 16px;
}

.secondCol > * {
    margin-left: 24px;
}

label {
    display: inline !important;
}

img {
    max-width: 100%;
}

td.fixWidth {
    width: 1px;
}

#camera {
    transform: rotateY(180deg);

}

.centerDiv {
    width: 60%;
    margin: 0 auto;
}

.marginBetweenButtons {
    margin-right: 16px;
}


body > form > span > table > tbody > tr:nth-child(1) > td:nth-child(3) > span > div.smallFont {
    font-size: 20px;
}

.text-center {
    text-align: center;
}