body, html {
    font-family: Roboto, "Fira Code", sans-serif;
    font-size: 16px;
}

.defaultMargin {
    margin: 16px 16px 16px 16px;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}


.inline {
    display: inline;
}

.centerAlign {
    margin-left: 50%;
    margin-right: 50%;
}

td.fixWidth {
    width: 1px;
}

.unCapitalize {
    text-transform: none !important;
}

.hide {
    display: none;
}

.leftMargin {
    margin-left: 25px;
}


