body,html {
    font-family: Roboto, "Fira Code", sans-serif;
    font-size: 16px;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}


.inline {
    display: inline;
}

.centerAlign {
    margin: 0 auto;
}

body > form > span > table > tbody > tr:nth-child(1) > td:nth-child(3) > span > div.smallFont {
    font-size: 20px;
}