# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Satyam Bansal\IdeaProjects\medical-gateway-desktop\.idea/dataSources/
/dataSources.local.xml
